:root {
    --dimBoard: 600px;
    --pieceRatio: 0.9;
    --square-size: calc(var(--dimBoard) / 8);

    --blackSquare: #b58863;
    --whiteSquare: #f0d9b5;
    --highlightSquare: yellow;
    --selectedSquareWhite: #ababaa;
    --selectedSquareBlack: #ababaa;
    --movedSquareBlack: #e9e981;
    --movedSquareWhite: #f1f1a0;
    --choiceSquare: white;
    --coverSquare: black;
    --hintColor: #ababaa;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: var(--dimBoard);
    height: var(--dimBoard);
    /* Enable hardware acceleration for better performance */
    transform: translateZ(0);
    will-change: auto;
}

/* Flipped board - reverse visual order using flexbox */
.board.flipped {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    position: absolute;
    z-index: 10;
    width: calc(var(--square-size) * var(--pieceRatio));
    height: calc(var(--square-size) * var(--pieceRatio));

    /* No selection */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */

    /* Animation optimization */
    transform-origin: center center;
    backface-visibility: hidden;
}

/* During drag, enable GPU acceleration */
.piece.dragging {
    will-change: transform;
    z-index: 100;
}

.choicable {
    z-index: 50;
}

.hint {
    background: var(--hintColor);
    width: calc(calc(var(--dimBoard) / 8) / 3.5);
    height: calc(calc(var(--dimBoard) / 8) / 3.5);
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    opacity: 0.8;
}

.catchable {
    width: calc(calc(var(--dimBoard) / 8) * 0.9);
    height: calc(calc(var(--dimBoard) / 8) * 0.9);
}

.blackSquare {
    background: var(--blackSquare);
}

.whiteSquare {
    background: var(--whiteSquare);
}

.selectedSquareWhite {
    background: var(--selectedSquareWhite);
}

.selectedSquareBlack {
    background: var(--selectedSquareBlack);
}

.movedSquareBlack {
    background: var(--movedSquareBlack);
}

.movedSquareWhite {
    background: var(--movedSquareWhite);
}

.choice {
    background: var(--choiceSquare);
    z-index: 30;
}

.cover {
    background: var(--coverSquare);
    opacity: 0.5;
    z-index: 25;
}

.highlighted {
    box-shadow: inset 0 0 10px var(--highlightSquare);
}

/* Note: Flexbox-based flip is instant by design for best UX.
   No CSS transform on board means pieces can animate freely without conflict. */